<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Instagram | <%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link onload="this.rel='stylesheet'" as="stylesheet" rel="stylesheet" href="/public/css/home.css">
        <link onload="this.rel='stylesheet'" as="stylesheet" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
            <%- include('components/navbar') %>
            <%- include('components/add-post-modal') %>
            <%- include('components/switch-accounts-modal') %>
            <div class="home">
                <div class="home__posts">
                    <h2 class="home__title">Getting Started</h2>
                    <div class="home__carousel-wrapper">
                        <div class="home__carousel">
                            <%- include('components/card', {
                                title:"Find Facebook Friends",
                                text:"You choose which friends to follow. We'll never post to Facebook without your permission.",
                                btnText:"Connect to Facebook",
                            }) %>
                            <%- include('components/card', {
                                title:"Add Phone Number",
                                text:"Add your phone number so you can reset your password, find friends and more.",
                                btnText:"Add Phone Number"
                            }) %>
                            <%- include('components/card', {
                                title:"Add Profile Photo",
                                text:"Add a profile photo so your friends know it's you.",
                                btnText:"Add Profile Photo"
                            }) %>
                        </div>  
                        <div class="home__carousel-prev">
                            <i class="fas fa-chevron-left fa-1x"></i>
                        </div>
                        <div class="home__carousel-next">
                            <i class="fas fa-chevron-right fa-1x"></i>
                        </div>                    
                    </div>
          
                </div>
                <div class="home__profile">
                    <div class="home__profile-header">
                        <div class="home__profile-img-main">
                           
                            <img src="<%- user.profile_pic_url %>" alt="">
                        </div>
                        <div class="home__profile-info">
                            <h3><%= user.username %></h3>
                            <p><%= user.full_name %></p>
                        </div>
                        <span class="font-bold">Switch</span>
                    </div>
                    <div class="home__profile-suggestions">
                        <div class="home__profile-suggestions-header">
                            <h3>Suggestions for you</h3>
                            <a href="/instagram/suggestions" class="font-bold home__profile-all">See All</a>
                        </div>
                        <% for(let i = 0; i < 5; i++){%>
                            <%- include('components/suggestion',{ url:"/public/assets/temp-profile.jpg" }) %>
                        <%}%>
                    </div>
                   <%- include('components/footer') %>
                </div>
            </div>
        </div>
        <script> var exports = {}; </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/js/app.js"></script>
        <script src="/js/carousel-home.js"></script>
    </body>
</html>